<!DOCTYPE html>
<html>
  <head>
    <title>JavaScript and the DOM</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <h1 id="page-heading">JavaScript and the DOM</h1>
    <p>Making a web page interactive</p>

    <p class="description">Things that are purple:</p>



    <div>
        <button class="title-btn">Change document title</button>
        <input type="text" class="title">
    </div>


    <div>
      <button class="description-btn">Change list description</button>
      <input type="text" class="description">
    </div>

    <ul>
      <li>grapes</li>
      <li>amethyst</li>
      <li>lavender</li>
      <li>plums</li>
    </ul>
    <script src="/public/app.js"></script>
  </body>
</html>